.f_img {
  width: 160px;
  border-radius: 20px;
  box-shadow: 0px 10px 0 hsla(56, 94%, 38%, 0.705);
  transition: .3s;
  margin: 10px;
  margin-bottom: 20px;
}

.s_img {
  box-shadow: inset 0px 0px 15px 40px rgba(0, 0, 0, 0.712);
  width: 160px;
  height: 160px; 
  border-radius: 100%;
}      
.s_img img{
  position: relative;
  z-index: -2;
}

.ss_img {
  box-shadow: inset 0px 0px 15px 30px rgba(0, 0, 0, 0.712);
  width: 160px;
  height: 160px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.img-tape {
  position: relative;
  display: inline-block;
  margin: 20px auto 10px;
}
.img-tape:before,
.img-tape:after {
  background: rgba(255, 255, 235, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  margin: auto;
  width: 80px;
}

.img-tape--1:before {
  left: 55%;
  margin-left: -50px;
  top: -10px;
}
.img-tape--1:after {
  display: none;
}

.img-tape--1 {
  margin: 10px;
}

.th_img {
  margin: 10px;
  box-shadow: inset 0px 0px 10px 10px rgba(255, 243, 243, 0.712);
  width: 160px;
  height: 160px; 
  border-radius: 100%;
}
.th_img{
  border-radius: 100%;
}

.th_img .img-tap img{
  border-radius: 100%;
}

.th_img img {
  position: relative;
  z-index: -2;
}

.img-tap {
  position: relative; 
  display: inline-block;
  border-radius: 100%;
}


/* .img-tap::before,
.img-tap::after {
  display: block;
  content: "";
  height: 160px;
  width: 160px;
  background: rgba(252, 252, 252, 0.6);
  box-shadow:inset 0px 0px 15px 10px rgba(34, 31, 31, 0.7);

  position: absolute;
  margin: auto;
}

.img-tape--2:after {
  display: none;
}

.img-tape--2:before {
  display: none;
} */
 