.box {
  width: 300px;
  height: 150px;
  display: flex;
  margin-bottom: 10px;
}

.text {
  margin: auto;
  font-size: 25px;
  line-height: 50px;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  position: relative;
  background: white;
  overflow: hidden;
  text-transform: uppercase;
}

.text:before {
  content: '';
  position: absolute;
  filter: blur(10px);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 1em, #e3ffbf 1em, #b74d33 50%),
  repeating-linear-gradient(45deg, #b73350, #b7aa33 1em, rgb(199, 241, 10) 1em, #eb1e1e 50%);
  background-size: 3em 3em, 2em 2em;
}

.box2 {
  width: 300px;
  height: 150px;
  display: flex;
  margin-bottom: 10px;
}

.box2 p {
  margin: auto;
  padding: 10px;
  background: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 900;
  transition-property: 1s;
}

.pulse {
  content: "";
  width:300px;
  height: 150px;
  border: 10px solid rgba(187, 204, 36, 0.61);
  position: absolute;
  top: 0;
  left: 0;
  animation: pulsate infinite 1s;
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
.text-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  transition-duration: 1s;
  transition-property: border-image-source, transform;
}

.text_purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.box2 p:hover {
  border-image-source: linear-gradient(to left, #296892, #19e637);
  transform: scale(2)
}